---
import Layout from "../layouts/Layout.astro";
import SocialMedia from "../components/socialMedia.astro";
import Footer from "../components/Footer.astro";
import Caroussel from "../components/Caroussel.astro";
import CardTY from "../components/CardTY.astro";
import Avis from "../components/Avis.astro"
---

<Layout title="Docteur Yigitoglu">
	<main>
		<section class="bg-gradient-to-r bg-blue-900 to-blue-500  text-white">
			<SocialMedia />
			<div class="flex flex-col justify-center items-center h-[90vh] md:h-screen md:flex-row">
				<div class="flex flex-col  md:ml-10 px-4 py-20 margin-auto lg:w-1/2 text-center md:text-left">
					<p class="text-3xl font-bold mb-3 lg:text-4xl">Thierry Yigitoglu</p>
					<p class="text-sm mb-6 text-gray-300 lg:text-lg">Je suis un chirurgien dentiste basé à Paris 16ème, 
						<a href= "/" class="relative w-max one text-blue-200">
							<span>au Trocadéro.</span>
							<span class="absolute -bottom-1 left-0 w-0 transition-all h-1 bg-blue-500"></span>
						</a>
					Je suis passionné par mon métier et je m'efforce de fournir des soins de qualité pour la santé bucco-dentaire de mes patients. N'hésitez pas à me contacter pour  
						<a href= "/" class="relative w-max one text-blue-200">
							<span>prendre rendez-vous</span>
							<span class="absolute -bottom-1 left-0 w-0 transition-all h-1 bg-blue-500"></span>
						</a>
					et prendre soin de votre sourire !
					</p>
					<a href="/rdv">
						<div class="group bg-blue-500 rounded-md py-2 px-4 object-fill inline-flex items-center ease-in-out duration-500 hover:bg-blue-700 ">
						  <span class="mr-2">Prendre rendez-vous</span>
						  <svg
							class="ml-2 group-hover:scale-75 ease-in-out duration-500"
							width="20px"
							height="20px"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
						  >
							<title></title>
							<g id="Complete">
							  <g id="arrow-right">
								<g>
								  <polyline
									data-name="Right"
									fill="none"
									id="Right-2"
									points="16.4 7 21.5 12 16.4 17"
									stroke="#ffffff"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
								  ></polyline>
					  
								  <line
									fill="none"
									stroke="#ffffff"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									x1="2.5"
									x2="19.2"
									y1="12"
									y2="12"
								  ></line>
								</g>
							  </g>
							</g>
						  </svg>
						</div>
					  </a>
					  
				</div>

				<div class="flex justify-center mb-0 lg:w-1/2 ">
					<!-- <div class="toothbrush-object absolute ml-10">
						<img
							class="h-20 "
							src="/images/brossedent.png"
							alt=""
						/>
					</div> -->
					<div class="flex items-center justify-center">
						<div
							class="h-40 w-40 rounded-full border-gray-950 overflow-hidden bg-white shadow-lg hover:shadow-2xl hover:scale-105 ease-in-out duration-500 lg:h-64 lg:w-64"
						>
							<img
								class="h-full w-full object-cover ml-3 transition-transform hover:scale-110 ease-in-out duration-500 lg:ml-6"
								src="/images/thierry-yigitoglu.png"
								alt=""
							/>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-gradient-to-r bg-white-900 to-gray-500 h-[70vh] text-white md:h-screen flex justify-center">
			<div class="flex flex-col justify-center p-10">
				<h1 class="text-gray-800 font-bold text-3xl mb-10">Une visite virtuelle de notre cabinet</h1>
				<div class="w-full">
					<Caroussel/>
				</div>
				
			</div>
		</section>
		<section class="bg-gradient-to-r bg-blue-900 to-blue-500 h-fit  text-white flex flex-col justify-center items-center">
			<div class="p-8">
				<div class="py-4 flex justify-center">
					<CardTY />
				</div>
				<div class="py-4">
					<Avis />
				</div>
			</div>
			
			
		</section>
	</main>
	<Footer />
</Layout>

<style>
	.toothbrush-object {
		animation: object-floating 6s infinite ease-in-out alternate;
	}

	@keyframes object-floating {
		0% {
			transform: translateY(-30px);
		}
		100% {
			transform: translateY(30px);
		}
	}
	.one:hover span:last-child {
  width: 100%;
}
</style>
