---
const avis = [
    {
        id: 1,
        titre: "Titre",
        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quibusdam.",
        nom: "Prénom Nom",
    },
    {
        id: 2,
        titre: "Titre",
        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quibusdam.",
        nom: "Prénom Nom",
    }
]
---
<div class="grid shadow-sm  md:grid-cols-2">
    {avis.map((items) => 
    <div class="p-3 max-w-md">
        <figure class="flex flex-col items-center justify-center p-8 text-center  border-b rounded-lg  md:border-r bg-gray-800 border-gray-700">
            <blockquote class="max-w-2xl mx-auto mb-4 lg:mb-8text-gray-400">
                <h3 class="text-lg font-semibold  text-white">{items.titre}</h3>
                <p class="my-4">{items.description}</p>
            </blockquote>
            <figcaption class="flex items-center justify-center space-x-3">
                <div class="space-y-0.5 font-medium text-white text-left">
                    <p>{items.nom}</p>
                </div>
            </figcaption>    
        </figure>
    </div>
    )

    }
    
</div>
