---

---
<div id="custom-controls-gallery" class="relative w-full ">
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <div class="duration-700 ease-in-out" >
            <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded" alt="">
        </div>
        <div class="hidden duration-700 ease-in-out" >
            <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded" alt="">
        </div>
        <div class="hidden duration-700 ease-in-out" >
            <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded" alt="">
        </div>
        <div class="hidden duration-700 ease-in-out" >
            <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded" alt="">
        </div>
        <div class="hidden duration-700 ease-in-out" >
            <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded" alt="">
        </div>
    </div>
    <div class="flex justify-center items-center pt-4">
        <button type="button" class="flex justify-center items-center mr-4 h-full cursor-pointer group " >
            <span class="text-gray-400 hover:text-gray-700 ease-in-out duration-500">
                <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button" class="flex justify-center items-center h-full cursor-pointer group focus:outline-none" >
            <span class="text-gray-400 hover:text-gray-700 ease-in-out duration-500">
                <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>
</div>

<script>
    const carouselContainer = document.getElementById('custom-controls-gallery');
    const carouselItems = carouselContainer.getElementsByClassName('duration-700');
    const prevButton = carouselContainer.querySelector('button:nth-child(1)');
    const nextButton = carouselContainer.querySelector('button:nth-child(2)');

   let currentIndex = 0 
   let intervalId;

   function showNext(){
    carouselItems[currentIndex].classList.add('hidden');
    currentIndex = (currentIndex + 1) % carouselItems.length;
    carouselItems[currentIndex].classList.remove('hidden');
   }
   function showPrev (){
    carouselItems[currentIndex].classList.add('hidden');
    currentIndex = (currentIndex - 1 + carouselItems.length) % carouselItems.length;
    carouselItems[currentIndex].classList.remove('hidden');
   }
   function autoCarrousel (){
    intervalId = setInterval(showNext,5000);
   }

   prevButton.addEventListener('click', showPrev);
   nextButton.addEventListener('click', showNext);

   autoCarrousel();
</script>
  